@media screen and (max-width: 768px) and (min-width: 640px) {

    .b-header__subtitle {
        font-family: 'open_sansbold';
        font-size: 14px;
    }

    .b-format__listFormat {
        width: 90%;
        display: block;
        margin: auto;
    }

    .b-format__map {
        width: 90%;
        display: block;
        margin: 5% auto;
    }
}
@media screen and (max-width: 640px) and (min-width: 480px){

    .b-header__subtitle {
        font-family: 'open_sansbold';
        font-size: 14px;
    }

    .b-copyright__btn {
        display: block;
        vertical-align: middle;
        width:90%;
        text-align: center;
        margin: 4% auto;
    }

    .b-copyright__contact {
        display: block;
        vertical-align: middle;
        width:90%;
        text-align: center;
        margin:4% auto;
    }

    .b-copyright__name {
        display: block;
        vertical-align: middle;
        width:90%;
        text-align: center;
        margin: 4% auto;
    }

    .b-name__text {
        text-align: center;
    }

    .b-header__title {
        font-size: 84px;
    }

    .b-oplata__title {
        font-size: 20px;
        line-height: 1.0;
    }



    .counter .hour > p, .counter .min > p, .counter .sec > p, .counter .day > p {
        font-size: 40px;
        padding: 3px 8px;
    }

    .counter .hour, .counter .min, .counter .sec, .counter .day {
        margin: 0 1%;
        width: 80px;
    }

    .counter .dash_title {
        font-size: 16px;
        bottom: -25px;
    }

    .counter .timer_wrap {
        text-align: center;
        margin-bottom: 6%;
    }

    .b-oplata__success {
        font-size: 30px;
        line-height: 1.0;
        margin: 0 0 2%;
    }

    .b-format__listFormat {
        width: 90%;
        display: block;
        margin: auto;
    }

    .b-format__map {
        width: 90%;
        display: block;
        margin: 5% auto;
    }

    .b-format__title {
        font-size: 32px;
        line-height: 1.0;
    }
    .b-list_item__img {
        min-width: 64px;
    }

    .b-listFormat__textWhite {
        font-size: 14px;
    }

    .b-rulesMenu__itemNum {
        font-size: 16px;
        width: 6%;
    }

    .b-rulesMenu__itemText {
        font-size: 16px;
        width: 94%;
    }

    .b-rules__title {
        font-size: 38px;
    }

    .b-rules__subtitle {
        font-size: 20px;
    }

}


@media screen and (max-width: 480px) {

    .b-header__lineLeft {
        display: none;
    }

    .b-header__lineRight {
        display: none;
    }

    .b-header__subtitle {
        font-family: 'open_sansbold';
        font-size: 14px;
        line-height: 1.0;
    }


    .b-copyright__btn {
        display: block;
        vertical-align: middle;
        width: 90%;
        text-align: center;
        margin: 4% auto;
    }

    .b-copyright__contact {
        display: block;
        vertical-align: middle;
        width: 90%;
        text-align: center;
        margin: 4% auto;
    }

    .b-copyright__name {
        display: block;
        vertical-align: middle;
        width: 90%;
        text-align: center;
        margin: 4% auto;
    }

    .b-name__text {
        text-align: center;
    }

    .b-header__title {
        font-size: 54px;
        line-height: 0;
    }

    .b-oplata__title {
        font-size: 24px;
        line-height: 1.0;
    }

    .btnRekvizit {
        font-size: 13px;
    }

    .b-header__title {
        font-size: 44px;
    }

    .b-oplata__title {
        font-size: 16px;
        line-height: 1.0;
    }

    .counter .hour > p, .counter .min > p, .counter .sec > p, .counter .day > p {
        font-size: 30px;
        padding: 3px 5px;
    }

    .counter .hour, .counter .min, .counter .sec, .counter .day {
        margin: 0 1%;
        width: 54px;
    }

    .counter .dash_title {
        font-size: 14px;
        bottom: -20px;
    }

    .counter .timer_wrap {
        text-align: center;
        margin-bottom: 6%;
    }

    .b-oplata__price {
        line-height: 1.0;
        font-size: 20px;
        margin: 15% 0 4%;
    }

    .komisiya {
        font-size: 10px;
    }

    .btnPrivat {
        font-size: 14px;
    }

    .b-oplata__docum {
        margin: 5% 0;
    }

    .b-oplata__success {
        font-size: 24px;
        line-height: 1.0;
        margin: 0 0 2%;
    }

    .b-format__listFormat {
        width: 90%;
        display: block;
        margin: auto;
    }

    .b-format__map {
        width: 90%;
        display: block;
        margin: 5% auto;
    }

    .b-format__title {
        font-size: 32px;
        line-height: 1.0;
    }

    .b-list_item__img {
        min-width: 64px;
    }


    .b-list_item__img {
        display: block;
        margin: 10% auto 3%;
        text-align: center;
    }

    .b-listFormat__textWhite {
        display: block;
        font-size: 14px;
        text-align: center;
    }

    .b-format__link {
        text-align: center;
    }

    .b-rulesMenu__itemNum {
        font-size: 16px;
        width: 8%;
    }

    .b-rulesMenu__itemText {
        font-size: 16px;
        width: 92%;
    }

    .b-rules__title {
        font-size: 38px;
    }

    .b-rules__subtitle {
        font-size: 18px;
        margin: 6% 0 0 0;
    }
}